{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>App Store</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>name</th>
            <th>notes</th>
            <th>configs</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for app in apps %}
            <tr>
              <th>{{app.name}}</th>
              <th>{{app.note}}</th>
              <th>
              {% for config in app.required_configs %}
                {{config.name}} ({{config.type}})<br>
              {% endfor %}
              </th>
              <th>
                <form method="POST" action="/device/{{deviceid|string}}/store/{{app._id|string}}">
                  <button type="submit" class="btn btn-default">Add</button>
                </form>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><input type="button" class="btn btn-default" onclick="location.href='/device/{{deviceid|string}}'"value="Delete Setting"></p>
      <p><input type="button" class="btn btn-default" onclick="location.href='/device/list/'"value="Delete List"></p>
      <p><input type="button" class="btn btn-default" onclick="location.href='/'"value="Top"></p>
    </div>
  </div>
</div>
{% endblock %}
