{% extends "layout.html" %}
{% block content %}
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>Rulebase Connectors</h1>
      <input type="button" class="btn btn-default" onclick="location.href='/connector/new/'"value="Add">
      {% for connector in connectors %}
        <h4>
          id: {{connector._id|string}}<br>
          name: {{connector.name}}
        </h4>
        <b>event</b>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>node name</th>
              <th>operator</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{connector.event.nodeid}}</th>
              <th>{{connector.event.operator}}</th>
              <th>{{connector.event.value}}</th>
            </tr>
          </tbody>
        </table>

        <b>actions</b>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>node name</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            {% for action in connector.actions %}
              <tr>
                <th>{{action.nodeid}}</th>
                <th>{{action.value}}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <form method="POST" action="/connector/{{connector._id|string}}">
          <button type="submit" class="btn btn-default">Setting</button>
        </form>
      </p>
      {% endfor %}
      <p><input type="button" class="btn btn-default" onclick="location.href='/'"value="Top"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
