<div id="connector-area" class="panel panel-default">
  <div class="panel-body">
    <h4>
      id: <div id="id"></div>
      name: <input type="text" class="form-control" id="name" value="">
    </h4>
    <p><label><input type="checkbox" id="on" value="on">ON</label></p>
    <b>event</b>
    <table id="table-event" class="table table-bordered">
      <thead>
        <tr>
          <th id="label-nodename">node</th>
          <th id="label-operator">operator</th>
          <th id="label-value">value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <select name="node">
            
            </select>
          </th>
          <th>
            <select name="operator">
              <option value="==">==</option>
              <option value="<">&lt;</option>
              <option value=">">&gt;</option>
              <option value="<=">&lt;=</option>
              <option value=">=">&gt;=</option>
            </select>
          </th>
          <th>
            <input type="text" class="form-control" id="exampleInput" name="value" value="">
          </th>
        </tr>
      </tbody>
    </table>

    <b>action</b>
    <table id="table-action"  class="table table-bordered">
      <thead>
        <tr>
          <th id="label-nodename">node</th>
          <th id="label-value">value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <select name="node">
            
            </select>
            
          </th>
          <th>
            <input type="text" class="form-control" id="exampleInput" name="value" value="">
          </th>
        </tr>
      </tbody>
    </table>

    <button id="save" type="button" class="btn btn-default">save</button>
    <button type="button" id="remove" class="btn btn-default">remove</button>

  </div>
</div>
