{% extends "layout.html" %}
{% block content %}
<script>
$(function() {
  var node = JSON.parse("{{node|safe}}".replace(/'/g, '"').replace(/ObjectId\(/g, "").replace(/\)/g, ""));
  console.log(node);

  function readApp() {
    var url = "/api/app/" + node._id + "/read/";
    $.ajax({
      url: url,
      type : "get",
      dataType : "json",
      contentType: "application/json"
    }).done(function(data) {
      var value = data.value;
      console.log("read: " + value);
      $("#read-value").text(value);
    }).fail(function(data) {
      console.log('ajax error');
      console.log(data);
    });
  }

  function writeApp() {
    var url = "/api/app/" + node._id + "/write/";
    var value = $("#write-value").val();
    var type = node.writetype;
    
    console.log("send: " + value);

    $.ajax({
      url: url,
      type : "post",
      dataType : "json",
      data: JSON.stringify({value: value, type: type}),
      contentType: "application/json"
    }).done(function(data) {
      console.log(data);
      
    }).fail(function(data) {
      console.log('ajax error');
      console.log(data);
    });
  }

  if (node.readtype) {
    readApp();
    
    $("button#read-reload").on("click", function() {
      readApp();
    });

    var intervalflag = true;
    $("input#read-autoreload").change(function() {
      if ($(this).prop("checked")) {
        console.log("auto reload ON");
        intervalflag = true;
        var intervalid = setInterval(function() {
          readApp()
          if (!intervalflag) {
            clearInterval(intervalid);
          }
        }, 1000);
      } else {
        console.log("auto reload OFF");
        intervalflag = false;

      }
    });
  }
  
  if (node.writetype) {
    $("button#write-send").on("click", function() {
      writeApp();
    });
  }


});
</script>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Node</h1>
        <table class="table">
          <tbody>
            <tr>
              <th>id</th>
              <th>{{node._id|string}}</th>
            </tr>
            <tr>
              <th>node module id</th>
              <th>{{node.node_module_id|string}}</th>
            </tr>
            <tr>
              <th>device id</th>
              <th>{{deviceid}}</th>
            </tr>
            <tr>
              <th>name</th>
              <th>{{node.name}}</th>
            </tr>
            <tr>
              <th>notes</th>
              <th>{{node.note}}</th>
            </tr>
          </tbody>
        </table>
        
        <p><h3>control</h3></p>
        <table class="table">
          <tbody>
            <tr id="control-read">
              {% if node.readtype is defined %}
                <th>read</th>
                <th><span id="read-value"></span></th>
                <th><button class="btn btn-default" id="read-reload">reload</button></th>
                <th><label><input type="checkbox" id="read-autoreload" value="autoreload">autoreload</label></th>
                <th><input type="button" id="datastore" class="btn btn-default" onclick="location.href='/device/{{deviceid}}/app/{{node._id}}/datastore/'" value="datastore"></th>
              {% endif %}
            </tr>
            <tr id="control-write">
              {% if node.writetype is defined %}
                <th>write</th>
                <th><input type="text" class="form-control" id="write-value" name="value" value=""></th>
                <th><span id="write-type">type: {{node.writetype}}</span></th>
                <th><button class="btn btn-default" id="write-send">send</button></th>
              {% endif %}
            </tr>
          </tbody>
        </table>
      <p><input type="button" class="btn btn-default" onclick="location.href='/devices/'"value="back to devices"></p>
      <p><input type="button" class="btn btn-default" onclick="location.href='/'"value="top"></p>
    </div>
  </div>
</div>
{% endblock %}
