{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if islocal %}
        <h1>App</h1>
        <form method="POST" action="/device/{{deviceid|string}}/app/{{app._id|string}}/save/">
      {% else %}
        <h1>New App</h1>
        <form method="POST" action="/device/{{deviceid|string}}/store/{{app._id|string}}/save/">
      {% endif %}
        <table class="table">
          <tbody>
            {% if islocal %}
              <tr>
                <th>id</th>
                <th>{{app._id|string}}</th>
              </tr>
            {% else %}
              <tr>
                <th>store name</th>
                <th>{{app.name}}</th>
              </tr>
            {% endif %}
            <tr>
              <th>store id</th>
              {% if islocal %}
                <th>{{app.global_app_id|string}}</th>
              {% else %}
                <th>{{app._id|string}}</th>
              {% endif %}
            </tr>
            <tr>
              <th>device id</th>
              <th>{{deviceid}}</th>
            </tr>
            <tr>
              <th>name</th>
              <th><input type="text" class="form-control" id="exampleInput" name="name" value="{{app.name}}"></th>
            </tr>
            <tr>
              <th>notes</th>
              <th><input type="text" class="form-control" id="exampleInput" name="note" value="{{app.note}}"></th>
            </tr>
          </tbody>
        </table>


        <h4>configs</h4>
        <table class="table">
          <tbody>
            <tr>
              {% if islocal %}
                {% for config in app.configs %}
                  <th>{{config.name}}</th>
                  <th><input type="text" class="form-control" id="exampleInput" name="config:{{config.name}}" value="{{config.value}}"></th>
                  <th>({{config.type}})</th>
                {% endfor %}
              {% else %}
                {% for config in app.required_configs %}
                  <th>{{config.name}}</th>
                  <th><input type="text" class="form-control" id="exampleInput" name="config:{{config.name}}" value=""></th>
                  <th>({{config.type}})</th>
                {% endfor %}
              {% endif %}
            </tr>
          </tbody>
        </table>
        <p><button type="submit" class="btn btn-default">save</button></p>
      </form>
      {% if islocal %}
        <input type="button" class="btn btn-default" onclick="location.href='/device/{{deviceid}}/app/{{app._id|string}}/delete/'"value="remove">
      {% endif %}
      <p><input type="button" class="btn btn-default" onclick="location.href='/devices/'"value="back to devices"></p>
      <p><input type="button" class="btn btn-default" onclick="location.href='/'"value="top"></p>
    </div>
  </div>
</div>
{% endblock %}
