{% extends "layout.html" %}
{% block content %}

<script>
$(function() {
  var localapps = JSON.parse("{{localapps|safe}}".replace(/'/g, '"').replace(/ObjectId\(/g, "").replace(/\)/g, ""));
  console.log(localapps);
  var connectors = JSON.parse("{{connectors|safe}}".replace(/'/g, '"').replace(/ObjectId\(/g, "").replace(/\)/g, ""));
  console.log(connectors);

  // select change
  $("#connectors select[name='node']").change(function() {
    $(this).parents('table').find("th#label-value").text("value (" + $(this).children("option[value=" + $(this).val() + "]").attr("valuetype") + ")");
  });

  function chValueType() {
    $(this).parents('table').find("th#label-value").text("value (" + $(this).children("option[value=" + $(this).val() + "]").attr("valuetype") + ")");
  }

  function createConnectorArea(connectorData) {
    $.ajax({
      url: '/connectors/connectorview/',
      dataType : 'html',
    }).done(function(data) {
      var $new_connector = $(data);
      $('div#connectors').append($new_connector);
      
      $new_connector.ready(function() {
        var $table_event = $new_connector.find("table#table-event");
        var $table_action = $new_connector.find("table#table-action");

        // make app selecters
        var $selector_node_event = $table_event.find("select[name='node']");
        $.each(localapps, function(i, localapp) {
          var $new_option = $("<option>").val(localapp._id).attr("valuetype", localapp.readtype).text(localapp.name);
          $selector_node_event.append($new_option);
        });
        
        var $selector_node_action = $table_action.find("select[name='node']");
        $.each(localapps, function(i, localapp) {
          var $new_option = $("<option>").val(localapp._id).attr("valuetype", localapp.writetype).text(localapp.name);
          $selector_node_action.append($new_option);
        });
        
        $selector_node_event.change(function() {chValueType.call(this)});
        $selector_node_action.change(function() {chValueType.call(this)});

        $selector_node_event.ready(function() {
          chValueType.call($selector_node_event);
        });
        $selector_node_action.ready(function() {
          chValueType.call($selector_node_action);
        });



        // insert data
        if (connectorData == null) {
          return;
        }

        $new_connector.attr("name", connectorData._id);
        $new_connector.find("#id").text(connectorData._id);
        $new_connector.find("#name").val(connectorData.name);
        
        $selector_node_event.ready(function() {
          $selector_node_event.val(connectorData.event.nodeid);
        });
        $table_event.find("select[name='operator']").val(connectorData.event.operator);
        $table_event.find("input[name='value']").val(connectorData.event.value);
       
        $selector_node_action.ready(function() {
          $selector_node_action.val(connectorData.action.nodeid);
        });
        $table_action.find("table#table-action select[name='operator']").val(connectorData.action.operator);
        $table_action.find("input[name='value']").val(connectorData.action.value);

      });

      
    }).fail(function(data) {
      console.log('ajax error');
      console.log(data);
    });
  }


  // load existed connector
  $.each(connectors, function(i, connector) {
    createConnectorArea(connector);
  });

  // add new connector
  $("button#add").on("click", function() {createConnectorArea.call()});

  // remove connector
  $("#connectors").on("click", "#connector-area #remove", function() {
    $(this).parents("div#connector-area").remove();
  });

  // save connector
  $("#connectors").on("click", "#connector-area #save", function() {
    var connector = $(this).parents("div#connector-area");
    var connector_id = connector.attr("name");

    var table_event = connector.find("table#table-event");
    var table_action = connector.find("table#table-action");

    var configs = {
      name: connector.find("input#name").val(),
      event: {
        nodeid: table_event.find("select[name='node']").val(),
        operator: table_event.find("select[name='operator']").val(),
        value: table_event.find("input[name='value']").val(),
        type: table_event.find("select[name='node']").children("option[value=" + table_event.find("select[name='node']").val() + "]").attr("valuetype")
      },
      action: {
        nodeid: table_action.find("select[name='node']").val(),
        value: table_action.find("input[name='value']").val(),
        type: table_action.find("select[name='node']").children("option[value=" + table_event.find("select[name='node']").val() + "]").attr("valuetype")
      }
    };

    console.log(connector_id);
    console.log(configs);
  });
});
</script>


<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>Rulebase Connectors</h1>
      <div id="connectors"></div>
      <p><button type="button" id="add" class="btn btn-default">add</button></p>
      <p><input type="button" class="btn btn-default" onclick="location.href='/'"value="Top"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
